.card-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-center.position-relative {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra todo el contenido de forma vertical */
}

.card-product-action {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.card-product-action button {
    background: transparent;
    border: none;
    padding: 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.text-small.mb-1 {
    margin-bottom: 0.5rem;
}

.d-flex.align-items-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.btn-primary img {
    margin-right: 0.5rem;
}

.card-product .card-product-action {
    width: 100%!important;
    position: absolute !important;
    left: 50% !important;
    bottom: 15% !important;
    transform: translateX(-50%) translateY(-50%) !important;
    opacity: 0 !important; /* Inicialmente invisible */
    visibility: hidden !important; /* Oculta el elemento */
    transition: all .3s ease 0s !important; /* Transición suave */
    z-index: 9 !important; /* Asegura que esté encima de otros elementos */
}

.card-product .btn-action {
    background-color:#fff;
    color: #21313c;
    height: 34px;
    width: 34px;
    font-size: 14px;
    border-radius: .5rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    transition: all .3s ease 0s;
    box-shadow: 0 2px 4px -1px rgba(145,158,171,.2),0 4px 5px 0 rgba(145,158,171,.14),0 1px 10px 0 rgba(145,158,171,.12);
    border: none;
}

/* Mostrar los botones al pasar el mouse */
.card-product:hover .card-product-action {
    opacity: 1 !important; /* Totalmente visible */
    visibility: visible !important; /* Elemento aparece */
    bottom: 10% !important; /* Pequeño efecto de movimiento hacia arriba */
    transform: translateX(-50%) translateY(0%) !important; /* Ajusta la posición */
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: #5c6c75;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #dfe2e1;
    border-radius: 0.5rem;
}

.img-fluid, .img-thumbnail {
    max-width: 100%;
    height: auto;
}



.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--fc-heading-color);
}
a img {
    vertical-align: middle !important;
}

.btn-group-sm>.btn, .btn-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.765625rem;
    border-radius: 0.25rem;
}

.mb-3 {
    margin-bottom: .75rem!important;
}

@media (min-width: 992px) {
    .row-cols-lg-5 > * {
        flex: 0 0 auto;
        width: 20%;
    }
}