.logoCanvas {
    width: 50%;
}

.logo {
    width: 80%;
    height: auto   ;
}

.input_search{
    border-top: 1px solid #dfe2e1;
    border-right: none;
    border-bottom: 1px solid #dfe2e1;
    border-left: 1px solid #dfe2e1;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.dropdown-menu-language {
    position: absolute !important;
    inset: 0px auto auto 0px !important;
    transform: translate(448px, 21px) !important;
}

.span-language {

    justify-content: flex-start !important; 
}